{% extends "base.html" %}
{% block canonical %}
        <title>过往文章</title>
        <link href="{{ SITEURL }}/archives.html" rel="canonical" />
{% endblock %}
{% block content %}
<section id="content">
<h1 class="title-blue">✎ 过往文章</h1>
<br/>
<dl class="arcs">
{% for article in dates %}
    <dt class="arc-title-date">{{ article.locale_date }}</dt>
    <dd><a class="arc-title-lnk" href='{{ article.url }}'>{{ article.title }}</a></dd>
{% endfor %}
</dl>
</section>
<br/>
<hr/>
<br/>
{% endblock %}
