<!Doctype html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Blog of {{ AUTHOR }}</title>
        <meta name="author" content="{{ AUTHOR }}" />
        <meta name="copyright" content="{{ AUTHOR }}" />
        <meta name="description" content="Personal blog of {{ AUTHOR }}">

        <link href="{{ SITEURL }}/theme/images/favicon.ico" rel="icon" type="image/png" />

        <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/cachestocaches.min.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/prism.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/gitalk.css" rel="stylesheet" >
        <link href="{{ SITEURL }}/theme/css/solarized-dark.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/custom.css" rel="stylesheet">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    </head>


    <body data-spy="scroll" data-target="#left-navbar" data-offset="50" itemscope="" itemtype="http://schema.org/WebPage">
        <!-- Analyz -->
        <script type="text/javascript">
         var _hmt = _hmt || [];
         (function() {
             var hm = document.createElement("script");
             hm.src = "//hm.baidu.com/hm.js?ae6ec1bf0f932ae1f10539c999d3fa15";
             var s = document.getElementsByTagName("script")[0]; 
             s.parentNode.insertBefore(hm, s);
         })();
        </script>
        <!-- View Counter -->
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>


        <!-- Left Sidebar -->
        <nav id="left-navbar" class="sidebar">
            <div class="content">
                <div><a href="/"><img src="{{ SITEURL }}/{{ AVATAR }}" class="img-responsive center-block" style="height:120px;width:120px;border-radius:120px;"/></a></div>
                <br/>
                <div class="center-text narrow-font" style="line-height: 28px;">
                    <span><i class="fas fa-home"></i><a href="{{ SITEURL }}/"> 首页 </a></span>
                    <span class="center-dot"></span>
                    <span><i class="fas fa-file-archive"></i><a href="{{ SITEURL }}/archives.html"> 过往文章 </a></span>
                    <br/>
                    <span><i class="fas fa-tags"></i><a href="{{ SITEURL }}/tags.html"> Tag </a></span>
                    <span class="center-dot"></span>
                    <span><i class="fa fa-archive"></i><a href="{{ SITEURL }}/categories.html"> Category </a></span>
                    <br/>
                    <span><i class="fas fa-user"></i><a href="{{ SITEURL }}/about.html"> 关于我 </a></span>
                </div>
                <hr/> <br/>

                {% block nav_big_title %}
                {% endblock %}

                <div id="nav-sidebar">
                </div>

                {% block nav_big_title_endline %}
                {% endblock %}

                <div id="nav-visited-info" class="center-text floating-description">
                    <span id="busuanzi_container_site_pv">♥本站总访问量:  <span id="busuanzi_value_site_pv"></span> 次♥</span><br/><br/>
                    <div id="copyright-expression" class="copyright">(cons "<a href="/">{{ AUTHOR }}</a> &copy;" (iterate inc {{ COPYRIGHT_START_YEAR }}))</div><br/>
                    <a id="powered-by" href="https://github.com/getpelican/pelican">Powered by<br/>Pelican</a>
                </div>
            </div>
        </nav>

        <!-- Middle and right sections -->
        <div class="page" itemsope="" itemtype="http://schema.org/Blog">
            {% block content_top %}
            {% endblock %}

            <!-- Content -->
            {% block content %}
            {% endblock %}

            <div class="cc-license">
                <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/"><img alt="知识共享许可协议" style="border-width:0;display:inline-block" src="https://licensebuttons.net/l/by-nc-sa/3.0/cn/88x31.png" /></a>&nbsp;本作品采用<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh" style="color:#00b1d6">知识共享署名-非商业性使用-相同方式共享 3.0 中国大陆许可协议</a>进行许可，欢迎转载，演绎，<br/>但是必须保留本文的署名 <a href="{{ SITEURL }}">{{ AUTHOR }}</a>（包含链接），且不得用于商业目的。</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Scripts -->
        {% block user_js %}
        {% endblock %}
        <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/popper.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

        <!-- Sidebar / Table of Contents -->
        <script src="{{ SITEURL }}/theme/js/jquery.tableofcontents.g.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/sticky-nav.js"></script>
        <script type="text/javascript">
         $(function(){$("#toc").tableOfContents(null,{
             startLevel: 2, depth: 1});
             $('body').scrollspy({
                 target: '#nav-sidebar',
                 offset: 20});
         });
        </script>

        <!-- Code Highlighting : highlight.js -->
        <script src="{{ SITEURL }}/theme/js/highlight.pack.js"></script>
        <script type="text/javascript">hljs.configure({languages:[]});hljs.initHighlightingOnLoad();</script>
        <script src="{{ SITEURL }}/theme/js/anchor-scroll.js"></script>
        <script src="{{ SITEURL }}/theme/js/prism.js"></script>

        <!-- Equation Rendering : mathjax -->
        <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
             jax: ["input/TeX","output/CommonHTML"],
             tex2jax: { inlineMath: [["$","$"]] },
             CommonHTML: {
                 linebreaks: { automatic: true, width: "container" }
             }
         });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML" type="text/javascript"></script>

        <!-- Cat -->
        <script src="{{ SITEURL }}/theme/js/L2Dwidget.min.js"></script>
        <script type="text/javascript">
            L2Dwidget.init({model: {
                              jsonPath: "{{ SITEURL }}/theme/live2d-widget-model-hijiki/assets/hijiki.model.json",
                            },
                            display: {
                              superSample: 2,
                              width: 100,
                              height: 200,
                              position: 'right',
                              hOffset: 0,
                              vOffset: 0,
                            },
                            mobile: {
                              show: true,
                              scale: 1,
                              motion: true,
                            },
                            react: {
                              opacityDefault: 0.85,
                              opacityOnHover: 0.2,
                            }
                          })
        </script>
    </body>
</html>
