{% extends "base.html" %}
{% block canonical %}
        <title>Categories</title>
        <link href="{{ SITEURL }}/categories.html" rel="canonical" />
{% endblock %}
{% block content %}
<h1 class="title-blue">
    <div>
        <span itemprop="name">Categories</span>
    </div>
</h1>
<br/>
<ul class="categories-list">
  {%- for category, articles in categories|sort %}
      <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
  {% endfor %}
</ul>
{% endblock %}
