<section class="comments" id="comments">
{% if GITHUB_REPO and article %}
      <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="githubissue-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#githubissue-comments" aria-expanded="true" aria-controls="githubissue-comments">
                <i class="fa fa-comments"></i><i id="githubissue-comment_list"> Comments</i>
            </a>
          </h4>
        </div>

        <!-- utterances start -->
        <div id="utter-container"></div>
        <script src="https://utteranc.es/client.js"
          repo="{{ GITHUB_USER }}/{{ GITHUB_REPO }}"
          issue-term="url"
          label="blog_comment"
          theme="boxy-light"
          crossorigin="anonymous"
          async>
        </script>
        <!-- utterances end -->

      </div>
{% endif %}
</section>
