<section class="comments" id="comments">
{% if GITHUB_REPO and article and article.commentid %}
      <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="githubissue-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#githubissue-comments" aria-expanded="true" aria-controls="githubissue-comments">
                <i class="fa fa-comments"></i><i id="githubissue-comment_list">Github Issue Comments</i>
            </a>
          </h4>
        </div>
        <div id="githubissue-comments" class="panel-collapse" role="tabpanel" aria-labelledby="githubissue-heading">
          <div class="panel-body">
            <div class="tab-pane active" id="githubissue-comments">
                Leave a comment from <a class="btn btn-primary withripple" href="https://github.com/{{ GITHUB_USER }}/{{ GITHUB_REPO }}/issues/{{ article.commentid }}#new_comment_field" target="_blank"> this post's issue page </a> using your Github account.
{% endif %}
<div id="githubissue_comments"></div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
  var reaction_fa = {
    "+1": "thumbs-o-up",
    "-1": "thumbs-o-down",
    "laugh": "smile-o",
    "hooray": "gift",
    "confused": "frown-o",
    "heart": "heart-o"
  };

  function loadComments(data) {
    for (var i=0; i<data.length; i++) {
      var cuser = data[i].user.login;
      var cuserlink = "https://github.com/" + data[i].user.login;
      var clink = "https://github.com/{{ GITHUB_USER }}/{{ GITHUB_REPO }}/issues/{{article.commentid}}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
      var cbody = data[i].body_html || data[i].body;
      var cavatarlink = data[i].user.avatar_url;
      var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour:'2-digit', minute:'2-digit', second:'2-digit' };
      var cdate = new Date(data[i].created_at).toLocaleString("{{ DEFAULT_LANG }}", options);
      var reactions = data[i].reactions;
      var creactions = "";
      if(reactions){
        for(reactionkey in reaction_fa){
          if(reactions[reactionkey] > 0) {
              creactions += '<i class="fa fa-'+ reaction_fa[reactionkey]+'"></i>' + reactions[reactionkey] + "&nbsp;";
          }
        }
      }
      $("#githubissue_comments").append("<div class='media'><div class='media-left'><a href=\""+ cuserlink +'\"><img src="' + cavatarlink + '" width="48" class="media-object">' + "</a></div><div class='media-body'><h4 class='media-heading'><a class='commentuser' href=\""+ cuserlink + "\">" + cuser + "</a><small>&nbsp; left a comment on &nbsp;<a class='commentdate' href=\"" + clink + "\">" + cdate + "</a></small>&nbsp;"+ creactions + "</h4><div class='commentbody'>" + cbody + "</div></div>");
    }
  }

$.ajax("https://api.github.com/repos/{{ GITHUB_USER }}/{{ GITHUB_REPO }}/issues/{{ article.commentid }}/comments", {
    headers: {Accept: "application/vnd.github.v3+json"},
    dataType: "json",
    success: function(msg){
      loadComments(msg);
   }
  });
});
</script>
</section>
