-f https://pypi.mirrors.ustc.edu.cn/simple
beautifulsoup4==4.6.3
blinker==1.4
certifi==2018.10.15
chardet==3.0.4
docutils==0.14
feedgenerator==1.9
idna==2.7
Jinja2==2.10.1
Markdown==3.0.1
MarkupSafe==1.1.0
pelican==3.7.1
Pillow==5.3.0
Pygments==2.2.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
simplejson==3.16.0
six==1.11.0
smartypants==2.0.1
typogrify==2.0.7
Unidecode==1.0.22
urllib3==1.24.2
