@font-face {
    font-family: jinkaiFont;
    src: url("../fonts/jinkai.ttf") format("TrueType");
}

html {
  background: #ececec url(/theme/images/fabric_plaid.png);
}

body, a {
  background-color: transparent;
  text-rendering: optimizelegibility;
}

a {
  padding: 0 5px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  font-family: "Coda", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* 正文区域标题部分 */
.content-top {
  padding-right: 0;
}

.page blockquote {
  font-size: 20px;
  color: grey;
  margin: 1rem 1rem 1rem 2rem;
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  margin-bottom: 1rem;
}

.page h1.title {
  margin-bottom: 1rem;
  font-size: 34px;
  line-height: 1.1;
}

.page .content, .page .content-bottom, .page .content-top {
  max-width: 820px;
  padding-right: 0;
}

.page .content pre, .page .content-bottom pre, .page .content-top pre {
  margin: 0;
}

.page img {
  max-width: 540px;
}

.page p img {
  clear: both;
  display: block;
  margin: auto;
}

.big_title {
  color: #293A5D;
  padding-bottom: 0.5rem;
}

h1#index_big_title {
  color: #293A5D;
}

.title, h1, h2, h3, h1 a, h2 a, h3 a {
  color: #337ab7;
  margin-bottom: 1rem;
}

.post h2 {
  color: #e47911;
  font-size: 30px;
}

.post h3 {
  color: #c92027;
}

.post h4 {
  color: #189e7a;
}

.post h3::before, .post h4::before, .post h5::before {
  content: '🞸';
  margin-right: 5px;
}

.no-bullet::before {
  content: none !important;
}

.no-bullet::after {
  content: none !important;
}

.title span {
  font-size: 30px;
}

#article_summary_part h1 {
  font-size: 28px;
  color: #e47911;
}

a.smart-title {
  color: #e47911;
}

.page .content li::before, .page .content-bottom li::before, .page .content-top li::before {
  content: none;
}

.page .content li, .page .content-bottom li, .page .content-top li {
  line-height: 24px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.page .content ul li, .page .content-bottom ul li, .page .content-top ul li {
  list-style: disclosure-closed;
}

.page .content ol li, .page .content-bottom ol li, .page .content-top ol li {
  list-style: decimal;
}

a.current-page-link {
  border: #0a2c12 1px solid;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  padding: 1px 2px 1px 2px;
  margin-top: 20px;
}

.page-link {
  background-color: rgb(229,211,170);
}

/*左侧导航栏*/
.sidebar {
  background: #182230;
  color: #e47911;
  border-left: 0px;
}

.sidebar .description a, .sidebar li a {
  color: #FCD293;
}

.sidebar a {
  color: #e47911;
}

.sidebar ul {
  color: #FCD293;
  padding-left: 2rem;
}

.sidebar .nav {
  color: #FCD293;
  padding-left: 0;
}

.sidebar li {
  color: #FCD293;
  border-left: 0px;
}

.sidebar .floating-description {
  color: #FCD293;
  border-left: 0px;
}

.sidebar .title {
  text-align: center;
}

.sidebar .title::before, .sidebar .title::after{
  background: url(/theme/images/ornate-border.svg) center top no-repeat transparent;
  background-size: contain;
  content: ' ';
  display: block;
  height: 1.5rem;
  width: 100%;
}

.sidebar .title::before {
 -webkit-transform: rotate(180deg);
 transform: rotate(180deg);
 margin-bottom: 1rem;
}

.sidebar .title::after {
 margin-top: 1rem;
}

.narrow-font {
  color: #2b90d9;
  font-size: 15px;
}

.narrow-font .nav-item:hover {
  background-color: #e47911;
  color: white;
}

.narrow-font a {
  color: #2b90d9;
}

.narrow-font a:hover {
  text-decoration: none;
}

#copyright-expression {
  font-size: 12px;
}

#powered-by {
  font-size: 11px;
}

/*左侧导航栏--目录*/
.nav-pills .nav-link.active {
  color: #155580 !important;
  background-color: #e6ff44 !important;
}

#nav-sidebar {
  margin-bottom: 0.5rem;
}

#nav-visited-info {
  margin-top: 0.5rem;
  padding-top: 1rem;
}


/*右侧标注栏*/
span.sitenote {
  color: var(--link,#d8a070);
  background-color: var(--lightBg,#151e2a);
}


/* 右上侧标签 */
a.tag {
  border: none;
  background-color: #2c3e50;
  color: wheat;
}

a.tag::before {
  content: "‹\00a0";
}

a.tag::after {
  content: "\00a0›";
}


/* 代码块 */
pre, pre code {
  background: none;
}

code {
  color: #a6071b;
  font-size: 16px;
  background-color: #ffecb3;
  font-weight: bold;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: 'Dejavu Sans Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

div.code-toolbar {
  margin-bottom: 1rem;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: none;
}

div.code-toolbar > .toolbar {
  display: none;
}

.page .content pre, .page .content-bottom pre, .page .content-top pre {
  box-shadow: none;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: transparent;
}

/* 回复区 */
#githubissue-comment_list {
  color: #e47911;
}

#githubissue_comments {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

#githubissue_comments .media{
  border: 1px solid transparent;
  border-color: #007bff;
  padding: 0.5rem 1rem 1rem 0.5rem;
}

.media .media-left {
  margin-right: 1rem;
}

.commentuser {
  color: #337ab7;
}

.commentdate {
  font-size: 70%;
}

/* 过往文章标题 */
.arc-title-lnk {
  transition: all 0.3s linear;
  margin-left: 2rem;
}

.arc-title-lnk:hover {
  margin-top: 40px;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}

/* 正文 */
#content_of_article a[href^="http"] {
  color: #921b51;
  border-bottom: none;
}

#content_of_article a[href^="http"]::after {
  content: ' ⤴';
  font-size: 12px;
}

#ref-docs-title::before {
  content: 'ⓘ';
  margin-right: 5px;
}

#ref-docs-title {
  color: #2c3e50;
}

.simple-footnotes a::after {
  content: none !important;
}

.simple-footnote-back {
  border: none;
  padding: 0;
  margin: 0;
  color: #921b51;
}

sup a {
  color: #0e141b;
  border: none;
}

sup a::before {
  content: "[";
}

sup a::after {
  content: "]";
}

.cc-license {
  font-size: 14px;
}

.cc-license img {
  height: 25px;
  width: auto;
}
